 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
    font-family: sans-serif;
    background-image: url("./background-image.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    line-height: 1.6;
    overflow-x: hidden; 
    background-color: #72DFFE;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    flex-wrap: nowrap; 
    overflow-x: auto; 
}
.navbar h1 {
    margin-left: 30px;
    margin-top: 10px;
    white-space: nowrap; 
}
.navbar ul {
    list-style: none;
    display: flex;
    margin-left: 400px;
    gap: 100px;
    margin-top: 10px;
    font-weight: bold;
    white-space: nowrap;
}
.main-container {
    width: 50%;
    height: 50%;
    margin: 70px;
    flex-wrap: wrap;
}
.main-container h2 {
    color: #21697F;
    font-size: 50px;
}
.main-container h3 {
    color: white;
    font-size: 50px;
    margin-top: 10px;
}
.main-container p {
    margin-top: 20px;
    font-weight: bold;
}
button {
    background-color: #226A80;
    color: white;
    width: 150px;
    height: 40px;
     margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #226A80;
    font-size: 15px;
}
.footer {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}
.footer img {
     width: 50px;
    margin-top: -10px;
}
 @media (max-width: 768px) {
    .navbar {
        overflow-x: auto;
    }
    .navbar h1{
         font-size: 15px;
         margin-left: -8px;
    }
    .navbar ul {
        margin-left: 0;
        gap: 20px;
        font-size: 10px;
    }
    .navbar h1 {
        margin-left: 10px;
    }
    .main-container {
        width: 90%;
        margin: 20px auto;
    }
    
    .main-container h2,
    .main-container h3 {
        font-size: 30px;
    }
    .main-container p {
        font-size: 14px;
    }
    
     button {
        padding: 5px 10px;
        font-size: 14px;
        width: 130px;
        height: 35px;
    }
    .footer img {
        margin-top: 20px;
        width: 30px;
    }
}
    